<div class="projects main">
  <div class="container">
    <div class="row text-right">
      <%= link_to "New Project", new_project_path, remote: true, class:"btn btn-primary" %>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table projects-list">
          <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <%= render partial: 'table_row', locals: {project: project} %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>